section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.289)), url('../img/curved-images/ocean.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    border-radius: 15px;
}

.text-white {
    color: #fff !important;
}

h1, h5 {
    font-weight: 700;
}
