section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.289)), url('../img/curved-images/ocean.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    border-radius: 15px;
}

.text-white {
    color: #fff !important;
}

h1, h5 {
    font-weight: 700;
}

   /* styles.css */

/* custom.css */

/* Light Theme */
[data-theme=light-blue] {
    --c-text-primary: #1b2559;
    --c-bg-primary: #f4f7fe;
    --c-bg-second: #fff;
    --c-bg-third: #f8fafd;
    color: var(--c-text-primary);
    background-color: var(--c-bg-primary);
}

.logo-large {
    width: 150px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
}
.navbar {
    min-height: 60px; /* Adjust this value as needed */
}
.card-header {
    padding: 1.5rem 1rem; /* Adjust padding as needed */
}

.card-header h3 {
    margin-bottom: 0.5rem; /* Space between title and description */
}

.card-header p {
    margin-bottom: 1.5rem; /* Space below the description */
}

/* Dark Theme */
[data-theme=dark-blue] {
    --c-text-primary: #fefefe;
    --c-bg-primary: #0d0d1f;
    --c-bg-second: #151429;
    --c-bg-third: #0d0d1f;
    color: var(--c-text-primary);
    background-color: var(--c-bg-primary);
}

/* Additional styles for the container and button */
.container {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--c-bg-second);
    color: var(--c-text-primary);
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--c-bg-third);
}

#theme-toggle img {
    width: 24px; /* Atur lebar gambar */
    height: 24px; /* Atur tinggi gambar */
    margin-right: 8px; /* Jarak antara gambar dan teks */
}

.btn-full {
    width: 100%; /* Make the button full width */
    display: block; /* Ensure it behaves like a block element */
}
